<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <hr>
    <app-pagination></app-pagination>
    <hr>
    <h1 class="mt-4 mb-3">Posteado
        <small>por
  <a href="">Luis Francisco Contreras Soto</a>
</small>
    </h1>

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

            <hr>

            <!-- Date/Time -->
            <p>Posteado en Junio 9, 2018 at 12:00 PM</p>

            <hr>
            <h2><strong>Resumen</strong></h2>
            <!-- Post Content| -->
            <p class="lead">Como sabemos desde hace décadas la contaminación ha ido en incremento nuevas empresas y compañías compiten para reducir toda esta problemática y buscar soluciones mediante energías limpias, en esta ocasión una compañía británica creo un sistema
                que aprovecha el impacto de las pisadas para desarrollar electricidad limpia y sustentable. </p>
            <p class="lead"> La tecnología abordó el campo energético para salvar al mundo. Desde la bienvenida a las innovaciones de avanzada, el planeta respira otro aire. Es una vía de escape, una fuente de esperanza, la ciencia volcada al servicio de las nuevas generaciones
                reconstruye una mirada optimista del porvenir. Es lo que representa sin quererlo manifestar la invención de la empresa Pavegen. Sus baldosas inteligentes que generan energía con la simple pisada humana invita al entusiasmo dando así nuevas
                esperanzas para la humanidad.</p>
            <p class="lead"> Un concepto que revolucionara y cambiaría la base de la generación de electricidad mediante fuentes renovables. Una forma limpia de transformar la densidad de población, el tráfico, las actividades más comunes del mundo en energía sustentable. Baldosas
                de 45 x 60 centímetros que se aprovechan de las pisadas de las personas, ubicadas logísticamente en las zonas en las que se concentra mucha gente, terminales de buses, aeropuertos, colegios, estadios, canchas de fútbol, centros comerciales.
                El espectro de abordaje es tan amplio como lo es la ambición por capturar, almacenar y redistribuir la fuerza de cada paso humano en electricidad ecológica.</p>
            <p class="lead"> Desde hace años se ha venido incrementando la contaminación de diversas áreas del mundo ya sea por desechos sólidos extracción de algún mineral esta genera un gran impacto al medio ambiente y a la población que vive en lugares aledaños, debido
                a este gran problema surgen también soluciones viables que ponen una esperanza en las nuevas tecnologías y en sus creadores.</p>
            <p class="lead">Desde hace años se ha venido incrementando la contaminación de diversas áreas del mundo ya sea por desechos sólidos extracción de algún mineral esta genera un gran impacto al medio ambiente y a la población que vive en lugares aledaños, debido
                a este gran problema surgen también soluciones viables que ponen una esperanza en las nuevas tecnologías y en sus creadores. </p>
            <p class="lead"> El consumo energético se da a nivel global donde solo las personas que son de escasos recursos no tiene acceso a ella gran parte de la población si tiene acceso a este servicio. Gracias a un ingeniero industrial que pertenece a una compañía
                británica crea un sistema que está revolucionando el acceso a este servicio por medio de baldosas eléctricas que funcionan con cada paso que se da, esto podría beneficiar a escuelas centros comerciales o lugares donde haya mayor tramitación
                de personas entre más movimiento peatonal halla mejor será el resultado.</p>
            <p class="lead">Así cómo surge este gran idea de poder tener iluminación por medio de pasos a través de un sistema que recolecta esta energía cada vez hay nuevas tecnologías que ayudan a obtener energías limpias y parar la contaminación o el uso de combustibles
                fósiles, a un hay una esperanza para que a futuro esto esté en cada país barrio o colonias remotas y tener acceso a este servicio sin dañar o perjudicar el medio ambiente </p>
            <hr>
            <app-pagination></app-pagination>
            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Realiza tu Comentario:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- /.row -->