<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Contacto

    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/']">Home</a>
        </li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
            <h3>Destalles de Contacto</h3>
            <h2><strong>Palencia</strong></h2>
            <p>Frente a estadio de Futbol<br>Liceo Integral Palenciano
            </p>

            <p>
                <p>Telefonos: (502) 30060201 <br> (502) 30060201</p>
                <h3>
                    Horario de Atención:</h3>
                <p>Lunes a Viernes de 08:00 a 16:00 horas</p>
                <h2>Sitio Oficial</h2>
                <a href="https://www.umg.edu.gt/cu/guatemala/">Mariano Galvez</a>
                <p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->