<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <hr>
    <app-pagination></app-pagination>
    <hr>
    <h1 class="mt-4 mb-3">Posteado
        <small>por
      <a href="">Fredy Estuardo Gómez Alvizures</a>
    </small>
    </h1>

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

            <hr>

            <!-- Date/Time -->
            <p>Posteado en Junio 9, 2018 at 12:00 PM</p>

            <hr>
            <h2><strong>Resumen</strong></h2>
            <!-- Post Content -->
            <p class="lead"> Mi estudio se basa en la hidroponía la cual es una técnica de producción agrícola en la que se cultiva sin suelo y donde los elementos nutritivos son entregados en una solución líquida. El término “hidroponía” tiene su origen en las palabras
                griegas “hidro” que significa agua y “ponos” que significa trabajo, lo cual es “trabajo en agua”.</p>
            <p class="lead"> La Hidroponía es el arte de cultivar plantas sin usar suelo agrícola, en un sistema hidropónico se puede cultivar todo tipo de plantas como, por ejemplo, hortalizas, flores, pasto para forraje, plantas ornamentales, condimentos, plantas medicinales
                y hasta cactus, el agua común no es suficiente para nutrir las plantas. Es importante saber que las plantas necesitan de los minerales que se encuentran en la tierra, el agua sirve para transportar esos nutrientes.</p>
            <p class="lead"> En la hidroponía los minerales se disuelven en el depósito de agua, los sistemas de cultivo hidropónico se dividen en dos grandes grupos, que son aquéllos en los que la solución nutritiva se recircula aportando de forma más o menos continua
                los nutrientes que la planta va consumiendo y abiertos o a solución perdida, en los que los drenajes provenientes de la plantación son desechados.</p>
            <p class="lead">Este sistema de cultivo tiene grandes ventajas para nuestros días es con poco dinero más creatividad, además que no se necesita grandes extensiones de tierra para cultivas, y así poder fomentar este concepto a la población del municipio de
                Palencia para por proporcionar una nueva alternativa de desarrollo para la economía de las familias Palencianas. </p>
            <p class="lead">En la actualidad la tierra en la cual se cultivas vegetales y frutas ya no está muy fértil, o por lo cambios climáticos las personas que se dedican a la agricultura llegan a tener pérdidas, en mi investigación propongo el cultivo en hidroponía,
                que es una modalidad en el manejo de plantas, que permite su cultivo sin suelo. Mediante esta técnica se producen plantas principalmente de tipo herbáceo, aprovechando sitios o áreas no convencionales, sin perder de vistas las necesidades
                de las plantas, como luz, temperatura, agua y nutrientes.</p>
            <p class="lead">En el sistema hidropónico los elementos minerales esenciales son aportados por la solución nutritiva. El rendimiento de los cultivos hidropónicos puede duplicar o más los de los cultivos en suelo, la disponibilidad de agua y nutrientes, los
                niveles de radiación y temperatura del ambiente, la densidad de siembra o disposición de las plantas en el sistema hidropónico, la acción de patógenos o plagas, etc., producirán fuertemente en el rendimiento del cultivo. En mi investigación
                se detallan las ventajas o beneficios que los pobladores del Municipio de Palencia que se dedican a la agricultura pueden llegar a obtener si implementar dicho método, buscando con ello el desarrollo de Palencia. </p>
            <hr>
            <app-pagination></app-pagination>
            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Realiza tu Comentario:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- /.row -->