<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <hr>
    <app-pagination></app-pagination>
    <hr>
    <h1 class="mt-4 mb-3">Posteado
        <small>por
  <a href="">Henry Eliseo Lemus Mejía</a>
</small>
    </h1>

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="assets/imagenes/tecnoverde01.jpg" alt="">

            <hr>

            <!-- Date/Time -->
            <p>Posteado en Junio 9, 2018 at 12:00 PM</p>

            <hr>
            <h2><strong>Resumen</strong></h2>
            <!-- Post Content| -->
            <p class="lead">Sin duda alguna las empresas hidroeléctricas son una excelente manera de obtener energía limpia y agradable sin dañar nuestro planeta tierra , son una buena inversión y son muy interesantes la manera del cómo funcionan las empresas de esta
                tipo hay que mencionar que estas primeramente tiene una fuente de agua y se hace un muro lo suficientemente grande de estos hay de diferentes tipos sede estructuras esta fuente de agua cuando estas empujan las turbinas que son generadores
                de energía y estas son las que produce la energía ya que esta tiene un mecanismo especial el cual produce la energía y la manda directamente a donde esta será empleada </p>
            <p class="lead">Es verdaderamente importante la manera cómo funciona la energía obtenida de una hidroeléctrica En Guatemala tenemos unas diferentes centrales hidroeléctricas de estas ya que hay una fuente de energía en el rio ixcoy la cual, aunque no es del
                todo de Guatemala, los guatemaltecos hemos sido venecianos al tenerla hay que es una fuente de empleo para algunas personas aledañas al lugar, sino que, además </p>
            <p class="lead">Hemos sido venecianos al tenerla en la región. La Central hidroeléctrica de Krasnoiarsk, Rusia transversal de una represa hidroeléctrica En una central hidroeléctrica se utiliza energía hidráulica para la antiguos molinos que aprovechaban
                la corriente de los ríos para generar energía. </p>
            <p class="lead">En general, estas centrales aprovechan la energía potencial y gravedad que tiene el agua en Cantidades grande de un cauce natural en virtud de un desnivel, y es así como funciona este proceso de filtros y turbias que producen la energía para
                los hogares. </p>
            <p class="lead">La manera como estas ayudan en medio ambiente pues es muy simple ya que para pasar por este proceso de la energía pues tienen que pasar un ochenta por ciento limpia eso quiere decir que no va a pasar con envases o basura y por eso las hidroeléctricas
                generales tienen un proceso de filtrado del agua y esto les permite manejarla de una mejor manera y de producir a energía que a ellos les interesa eso es lo más importante sobre este informe .</p>
            <p class="lead">La contamina ion ha sido el problema que vino a afectar grandemente el sentido de las hidroeléctricas en Guatemala y su damería es muy desagradable la contaminación con la que se encuentran los ríos en Guatemala más que todo cuya que por eso
                mismo a afectado por ejemplo la central hidroeléctrica que se encontraba en Amatitlán debido al gran porcentaje de contaminación ha dejado de funcionar.</p>
            <p class="lead">El funcionamiento de las turbinas es muy simple y depende del tipo de una central hidroeléctrica este puede operar en un régimen de la generación de agua y en generar energía de punta y se puede la demanda de energía eléctrica de una ciudad
                país o región es muy grande ya que para eso se requiere una gran proporción de energía eléctrica por lo que los creadores.</p>

            <hr>
            <app-pagination></app-pagination>
            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Realiza tu Comentario:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- /.row -->