<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <hr>
    <app-pagination></app-pagination>
    <hr>
    <h1 class="mt-4 mb-3">Posteado
        <small>por
        <a href="https://m.facebook.com/Luzii.lopez08?ref=bookmarks">María Lucia Alvarez López</a>
      </small>
    </h1>

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

            <hr>

            <!-- Date/Time -->
            <p>Posteado en Junio 9, 2018 at 12:00 PM</p>

            <hr>
            <h2><strong>Resumen</strong></h2>
            <!-- Post Content -->
            <p class="lead"> El plástico empezó a despuntar como material en 1950, desde entonces a mediados del 2017 se habían producido 8.000 millones de toneladas de plástico de todo tipo. La contaminación a causa del plástico es un problema por el que muchos investigadores
                en el mundo se dedican a encontrar posibles soluciones.</p>
            <p class="lead"> Se estima que en la actualidad se venden cerca de 1 millón de botellas por minuto en todo el mundo, muchas de las cuales terminan en los océanos, en los territorios más remotos, deteriorando el ecosistema marítimo.</p>
            <p class="lead"> Sin embargo un informe de The Guardian informo que los científicos han creado una enzima mutante capaz de descomponer las botellas de plástico, lo que supondría por primera vez el reciclaje completo de botellas de este material.</p>
            <p class="lead"> Esta investigación se basó en un estudio del año 2016 sobre la evolución natural de la primera bacteria que come plástico, encontrada en un basurero de Japón. Los expertos modificaron esta enzima para evaluar su evolución, pero al realizar
                las pruebas lograron optimizar esta molécula para descomponer el plástico PET (tereftalato de polietileno), que es utilizado para fabricar la mayoría de botellas en el mundo. Lo importante de este estudio es que la nueva enzima podría
                ayudar a reducir la necesidad de fabricar plástico nuevo lo cual ahorraría grandes costos a los fabricantes.</p>
            <p class="lead"> La estructura de la enzima se parecía a la que desarrollan muchas bacterias para descomponer la cutina, un polímero natural empleado para recubrir y proteger las plantas. Cuando los investigadores manipularon esta enzima para buscar este vínculo
                optimizaron por accidente la capacidad de comer PET, haciéndola 20% más efectiva.</p>
            <p class="lead"> Así como existen ejemplos de enzimas industriales que han sido manipuladas para trabajar hasta 1,000 veces más rápido para combatir, por ejemplo, la contaminación provocada por detergentes y combustibles, lo mismo podría ocurrir con esta enzima.
                Sin duda aún queda camino por recorrer antes de que los científicos logren reciclar grandes cantidades de plástico con estas enzimas, pero ciertamente es un gran avance.</p>
            <p class="lead"></p>
            <hr>
            <app-pagination></app-pagination>
            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Realiza tu Comentario:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- /.row -->