<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <hr>
    <app-pagination></app-pagination>
    <hr>
    <h1 class="mt-4 mb-3">Posteado
        <small>por
  <a href="">Nelson Miguel Gómez Alvizures</a>
</small>
    </h1>

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

            <hr>

            <!-- Date/Time -->
            <p>Posteado en Junio 9, 2018 at 12:00 PM</p>

            <hr>
            <h2><strong>Resumen</strong></h2>
            <!-- Post Content| -->
            <p class="lead">El presente trabajo está orientado a la búsqueda de nuevas alternativas para generar energía de manera renovable, para reducir el consumo de recursos naturales, entre los que podemos mencionar el petróleo, energía eléctrica, tala de árboles,
                el uso de químicos, la aplicación de recursos no renovables generados en masas. Las industriales y el consumo masivo están llevando al uso desmesurado de los recursos naturales, a consecuencia de ello existe el calentamiento global, pérdida
                de vidas animales, razas completas, y lo más preocupante que pareciera no tener vuelta atrás. Palencia es un municipio privilegiado de naturaleza, es por ello por lo que se realizará una investigación sobre el efecto e impacto al promover
                energías renovables como una alternativa para proteger el medio ambiente. </p>
            <p class="lead">Una de las expresiones ciudadanas que surgieron a raíz de la “Primavera Guatemalteca” del 2015 es un creciente clamor por una mejor gestión de nuestro ambiente y patrimonio natural (Pacto Ambiental,2016). Sin embargo, existe incertidumbre
                que sobre el efecto ambiental y como la falta del uso de energías renovables contribuiría al medio ambiente, A continuación, se estudia la forma y bases con las que se ha profundizado el tema de energías renovables y como contribuirán
                a mejorar nuestro planeta, comenzando con nuestra quería Palencia, mas que un lugar para vivir, el futuro de nuevas generaciones. </p>
            <p class="lead">La sociedad guatemalteca, en especial Palencia experimenta cambios climáticos, veranos mas extensos, lluvias descontroladas, inundaciones, desastres naturales, contaminación en ríos, y enfermedades por ingerir sustancias derivadas del petróleo,
                que causa serios problemas de salud, y afecta directamente el medio ambiente, siendo un factor determinante en estos cambios que se han experimentado en los últimos tres años. </p>
            <p class="lead">Palencia es un municipio rico en naturaleza, y con el tiempo este recurso se esta agotando por el mal uso de las energías no renovables, el ser humano esta llevando a un aceleramiento en nombre del desarrollo y en la medida que se busca mejorar
                la producción se utilizan métodos que son perjudiciales para el medio ambiente, entre ellos el uso del petróleo y sus derivados, como el gas, gasolina y diésel por mencionar algunos, que impactan drásticamente la naturaleza, también es
                la tala desmedida de los bosques y su extracción para el consumo masivo en construcciones a base de madera.</p>
            <p class="lead">El desarrollo sostenible de la población en Palencia, Guatemala, se resalta como un eje transversal la que se debe cumplir en cada línea de intervención planteada, que la evaluación de la misma pueda mostrar impactos positivos y de beneficio
                para todos los sectores de las poblaciones en Palencia, Guatemala, se espera promover las siguientes soluciones, el uso de gas en lugar de gasolina reduce la contaminación por el humo de vehículos, la reducción de tala de árboles promoviendo
                programas para dejar de utilizar en exceso la madera para la construcción de casas, y el uso de leña en los hogares de Palencia, el ahorro del agua potable, creando programas de control para evitar desperdicios del agua, liquido vital
                para el ser humano. </p>
            <hr>
            <app-pagination></app-pagination>
            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Realiza tu Comentario:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- /.row -->