<!-- Page Content -->
<div class="container">

    <!-- Portfolio Section -->
    <h2>Metodología de la Investigación</h2>

    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a [routerLink]="['/blog1']"><img class="card-img-top" src="assets/imagenes/Lucy.jpeg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a [routerLink]="['/blog1']">Proyecto uno</a>
                    </h4>
                    <p class="card-text">Científicos crean por accidente una enzima que devora plástico en días</p>
                    <a [routerLink]="['/blog1']">Seguir Leyendo ... >></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a [routerLink]="['/blog2']"><img class="card-img-top" src="assets/imagenes/tecnoverde.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a [routerLink]="['/blog2']">Proyecto Dos</a>
                    </h4>
                    <p class="card-text">Cultivo de Hidroponía, Una nueva alternativa para el municipio de Palencia.</p>
                    <a [routerLink]="['/blog2']">Seguir Leyendo ... >></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a [routerLink]="['/blog3']"><img class="card-img-top" src="assets/imagenes/Handerson.jpeg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a [routerLink]="['/blog3']">Proyecto Tres</a>
                    </h4>
                    <p class="card-text">Purificación del aire con tejas o Recubrimiento de dióxido de titanio</p>
                    <a [routerLink]="['/blog3']">Seguir Leyendo ... >></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a [routerLink]="['/blog4']"><img class="card-img-top" src="assets/imagenes/tecnoverde.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a [routerLink]="['/blog4']">Proyecto Cuatro</a>
                    </h4>
                    <p class="card-text">Pasos que Iluminan el Mundo. "Baldosas Verdes", una opción para generar energía a cada paso.</p>
                    <a [routerLink]="['/blog4']">Seguir Leyendo ... >></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a [routerLink]="['/blog5']"><img class="card-img-top" src="assets/imagenes/tecnoverde.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a [routerLink]="['/blog5']">Proyecto Cinco</a>
                    </h4>
                    <p class="card-text">Evaluación de alternativas, con energías renovables y su impacto en el municipio de Palencia, Guatemala.</p>
                    <a [routerLink]="['/blog5']">Seguir Leyendo ... >></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a [routerLink]="['/blog6']"><img class="card-img-top" src="assets/imagenes/tecnoverde.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a [routerLink]="['/blog6']">Proyecto Seis</a>
                    </h4>
                    <p class="card-text">Tecnologia y Creación de energía electrica en las hidroelectricas de Guatemala y Sud America.</p>
                    <a [routerLink]="['/blog1']">Seguir Leyendo ... >></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Pagina de la Universidad Mariano Gálvez Sede Palencia</h2>
            <p>Proyecto de Metología de la Investigación:</p>
            <ul>
                <li>
                    <strong>Integrantes del Grupo</strong>
                </li>
                <li>Jhoan Samayoa</li>
                <li>Alex</li>
                <li>Pointan</li>

            </ul>
            <p>La pagina se creo con el fin de presentar los trabajos de los compañeros sobre temas de tecnología Verde.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="assets/imagenes/github.png" alt="">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>Para mantenimiento o mejoras la pagina cuenta con un Repositorio en GitHub el cual puede Descargarse y Modificarse segun sea su conveniencia <strong>"Compartir es lo que nos hace mas Humanos y Mejores Personas"</strong>.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="https://github.com/SebastianSamayoa/UMG-Palencia.git">Repositorio</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
<!-- /.container -->