<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <hr>
    <app-pagination></app-pagination>
    <hr>
    <h1 class="mt-4 mb-3">Posteado
        <small>por
    <a href="">Handerson Smile Lorenzana Pensamiento</a>
  </small>
    </h1>

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

            <hr>

            <!-- Date/Time -->
            <p>Posteado en Junio 9, 2018 at 12:00 PM</p>

            <hr>
            <h2><strong>Resumen</strong></h2>
            <!-- Post Content| -->
            <p class="lead"> La contaminación ha sido un problema desde que inicio la era de la industrialización, la contaminación se ha empezado a combatir de muchas maneras, un tipo de contaminación que se ha derivado de la industrialización es la contaminación en
                el aire.</p>
            <p class="lead">Este tipo de contaminación no solo es esparcida a las industrias sino también por los automóviles los cuales se utilizan diariamente, por lo cual ha surgido una solución que reduce la contaminación del aire, dicha contaminación puede ser llamada
                smog. </p>
            <p class="lead">Este trabajo se enfoca en presentar dicha solución, solución creada por estudiantes de la universidad de california. Dichos estudiantes crearon un recubrimiento de dióxido de titanio, el cual puede ser esparcido en tejas para cubrir un techo
                el cual tenga un perímetro no mayor a 90 metros por el costo de $5.00. Tiene que ser tomado en cuenta el tamaño de las tejas si se desea utilizar tejas, y el precio de cada teja, además de ser calculada la cantidad de tejas que se utilizaran
                en dicho techo. </p>
            <p class="lead">El monto puede aumentar según el tamaño de cada techo. Además de tenerse en consideración gastos adicionales como la forma en la que dicho recubrimiento puede ser aplicado. Dicha solución es una de muchas de las cuales está enfocada en eliminar
                en su mayoría el smog en el aire debido a que estar expuesto a dicha contaminación puede ser dañino para la salud y esta puede irse deteriorando con el paso del tiempo. </p>
            <p class="lead">Ya que nuestro país es uno con altos niveles de smog, se tiene en cuenta esta solución como una de las cuales podría tener más probabilidad de éxito debido a que está al alcance de la mayor parte de la población guatemalteca. A continuación
                como lector de este trabajo podrá analizar si este proyecto tiene la posibilidad de ser implementado a nivel nacional, y si su efecto puede ser positivo por el monto que requiere para recubrir un techo promedio con un perímetro de 90 metros
                con esta solución, dicho monto ya ha sido expuesto en este resumen. </p>
            <p class="lead">Tejas que purifican el aire ¿esto es posible? El siguiente documento expone una solución enfocada en limpiar el aire, dicha solución más que ser tejas que purifican el aire, es un recubrimiento que puede ser aplicado en la superficie de un
                techo promedio, con la finalidad de purificar el aire del smog, dicho smog es producido por los automóviles a los cuales se les da un uso diario y muchas veces excesivo dicha contaminación también es producida por las industrias. Dicha
                solución fue tomada en cuenta debido a que está al alcance de la familia promedio de la población guatemalteca. Se busca informar al lector que existe solución para este problema y que está al alcance de su mano como probablemente lo estén
                otras soluciones. </p>
            <hr>
            <app-pagination></app-pagination>
            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Realiza tu Comentario:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- /.row -->